* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
}

body {
    font-family: "taha-naskh";
    direction: rtl;
    color: white;
    margin: 0;
    padding: 0;
    background: url("../images/bg9.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    height: 60px;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    font-family: "cocon-next-arabic";
  }
  
  nav ul {
    list-style: none;
    float: left;
    margin-left: 20px;
  }
  
  nav > label > a > img {
    float: right;    
    width: 45px;
    margin-right: 20px;
    margin-top: 5px;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 50px;
    margin-right: 30px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
  }
  
  nav ul li a:hover {
    color: rgb(82, 166, 199);
    transition: 0.5s;
  }
  
  nav ul li a .active, nav ul li a .active:hover {
    color: skyblue;
    transition: 0.5s;
  }
  
  .checkbtn {
    color: white;
    font-size: 30px;
    float: left;
    line-height: 50px;
    margin-left: 25px;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }

/**************************** Grid container *******************************/
.grid-container {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-areas:
    "header"
    "reciters"
    "dedication"
    "copyright";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
}

header {
    grid-area: header;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.header-overlay {
    background-color: rgba(0,0,0,0.65);
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    grid-template-rows: auto auto;
    grid-template-areas:
    "bismillah"
    "hero-img"
}

.bismillah-div {
    grid-area: bismillah;
}

.bismillah {
    height: 50px;
    position: relative;
    top: -30px;
}

.hero-div {
    text-align: center;
    grid-area: hero-img;
}

.hero-img {
    width: 220px;
    position: relative;
    top: -130px;
}

.hero-div h2 {
    position: relative;
    top: -160px;
    color:gold;
    font-family: "cocon-next-arabic";
}

.hero-div p {
    position: relative;
    top: -120px;
    color: white;
    font-size: 2.5rem;
    font-family: "almushaf";
}

.hero-div a {
    position: relative;
    top: -70px;
    border: solid 1px white;
    background-color: #040C19;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    padding: 15px 40px;
    font-family: "cocon-next-arabic";
}

.hero-div a:hover, input[type="submit"]:hover {
    background-color: aqua;
    border: solid 1px aqua;
    color: black;
    transition: 0.5s ease-in-out;
    box-shadow: 10px 15px 45px 10px rgba(0, 255, 255, 0.41);
}

/*********************** Reciters ************************/

#reciters {
    grid-area: reciters;
    font-family: "cocon-next-arabic";
    padding: 25px 0;
    width: 100%;
    height: auto;
    text-align: center;
    background-image: url("../images/white\ background1.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.reciters-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, auto);
    grid-gap: 30px;
    width: 90%;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
}

.reciters-heading {
    margin: 10px 0 30px 0;
    color: black;
}

.reciter-div {
    width: 100%;
    height: 100%;
    text-align: center;
}

#reciters a {
    text-decoration: none;
    color: black;
}

.reciter-img:hover {
  transform: scale(1.02);
  box-shadow: 10px 10px 30px 0 rgba(53, 136, 230, 0.801);
  transition: 0.5s all;
}

.reciter-img {
    width: 100%;
    border-radius: 20px;
    height: 200px;
    transition: 1s linear ease-in-out;
}

/*********************** Dedication ************************/

#dedication {
    grid-area: dedication;
    padding: 20px 0;
    margin: 0 auto;
    font-family: "cocon-next-arabic";
    text-align: center;
    width: auto;
    background-color: rgba(0,0,0,0.7);
}

#dedication p {
    width: auto;
    margin: 0 auto;
    font-size: 1.2rem;
}

/*********************** Copyright ************************/

#copyright {
    grid-area: copyright;
    background-color: black;
    color: white;
    border-top: solid 1px white;
    padding: 20px auto;
    width: 100%;
    text-align: center;
    direction: ltr;
    padding: 20px 0;
}

#copyright p {
    font-size: 0.9rem;
    width: auto;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

#copyright a {
    text-decoration: none;
    color: gold;
}

/*************************** Contact ****************************/

#contact {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: calc(100vh - 50px);
    display: grid;
    justify-items: center;
    align-items: center;
}

form {
    width: 70%;
    height: 90%;
    background-color: rgba(0, 25, 25, 0.5);
    backdrop-filter: blur(3px);
    border: solid 0.1px rgb(99, 98, 98);
    border-radius: 30px;
    font-family: "cocon-next-arabic";
    padding: 20px 40px;
}

form h2 {
    text-align: center;
    padding-bottom: 10px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 15px 30px;
    margin: 8px auto;
    background-color: rgba(255,255,255,0.15);
    border: none;
    border-radius: 10px;
    font-family: "cocon-next-arabic";
    font-size: 1rem;
    color: white;
}

::placeholder {
    color: white;
    opacity: 0.55;
}

.submitBtn {
    text-align: center;
}

input[type="submit"] {
    border: solid 1px white;
    background-color: #040C19;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    padding: 15px 40px;
    margin-bottom: 20px;
    font-family: "cocon-next-arabic";
    cursor: pointer;
}

/************************ Media Queries *************************/

@media all and (max-width: 600px){
    .toggle-button {
        display: flex;
        margin-top: 5px;
        z-index: 20;
      }
    
      .navigation-links {
        display: none;
        width: 100%;
      }
    
      .navigation {
        flex-direction: column;
        align-items: flex-start;
      }
    
      .navigation-links ul {
        flex-direction: column;
        width: 100%;
      }
    
      .navigation-links li {
        text-align: center;
      }
    
      .navigation-links li a {
        padding: 0.5rem 1rem;
      }
    
      .active {
        display: flex;
        position: absolute;
        top: 0;
        transition: 0.5s ease-in-out;
      }
    
      .logo-img {
        margin-top: 0;
        position: relative;
        top: -10px;
        z-index: 20;
      }

    .hero-img {
        width: 250px;
        position: relative;
        top: -140px;
    }

    .hero-div p {
        position: relative;
        top: -130px;
        font-size: 1.7rem;
        padding: 0 10px;
    }

    .hero-div h2 {
        font-size: 1.45rem;
        top: -180px;
    }

    .reciters-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(10, auto);
        grid-row-gap: 20px;
        grid-column-gap: 12px;
        width: 100%;
        margin: 0 auto;
        justify-items: center;
        align-items: center;
    }

    .reciter-div {
        width: 100%;
    }

    .reciter-img {
        width: 160px;
        border-radius: 20px;
        height: 160px;
        transition: 1s linear ease-in-out;
    }

    .reciter-name {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .reciter-name:hover {
        transform: scale(1.1);
        text-shadow: 5px 10px 42px 0 rgba(55, 64, 201, 0.401);
    }

    #dedication p {
        margin: 0 auto;
        font-size: 0.8rem;
        width: 90%;
    }

    #copyright p {
        font-size: 0.7rem;
        margin: 0 auto;
        font-family: Arial, Helvetica, sans-serif;
    }

    form {
        width: 100%;
        height: 100%;
        border-radius: 0;
        border: none;
        padding-top: 30px;
    }

    form h2 {
        padding-bottom: 30px;
    }
    
    input[type="text"], input[type="email"], textarea {
        width: 100%;
        padding: 15px 30px;
        margin: 8px auto;
        font-size: 1rem;
    }
    
    input[type="submit"] {
        border: solid 1px white;
        background-color: #040C19;
        color: white;
        text-decoration: none;
        border-radius: 30px;
        padding: 15px 40px;
        margin-bottom: 20px;
        font-family: "cocon-next-arabic";
        cursor: pointer;
    }

    textarea {
        margin-bottom: 30px;
    }
}

/**** Tablets ****/
@media screen and (min-width: 600px) and (max-width: 768px) {

    .bismillah {
        height: 80px;
        position: relative;
        top: -50px;
    }

    .hero-img {
        width: 350px;
        position: relative;
        top: -200px;
    }

    .hero-div h2 {
        position: relative;
        top: -240px;
        font-size: 2.5rem;
    }

    .hero-div p {
        position: relative;
        top: -160px;
        font-size: 3.5rem;
    }

    .hero-div a {
        position: relative;
        top: -90px;
        border-radius: 50px;
        padding: 25px 50px;
        font-size: 1.6rem;
    }

    .reciters-heading {
        font-size: 2.5rem;
    }

    .reciters-container {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 30px;
        width: 90%;
        margin: 0 auto;
        justify-items: center;
        align-items: center;
    }

    #dedication {
        padding: 30px 10px;
        margin: 0 auto;
        width: auto;
    }

}

/**** Max-width 858px *****/
@media (max-width: 858px){
    .checkbtn {
      display: block;
      margin-top: 5px;
    }
  
    nav ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, 1);
      top: 50px;
      left: -100%;
      text-align: center;
      margin-left: 0;
      z-index: 100;
      transition: all 0.5s;
    }
  
    nav ul li {
      display: block;
      margin: 15vh 0;
      line-height: 30px;
    }
  
    nav ul li a {
      font-size: 20px;
    }
  
    #check:checked ~ ul {
      left: 0;
    }
  }
